#footer {
  grid-area: footer;
  padding: 1rem;
  background-repeat: repeat;
  margin-top: 1rem;
  box-shadow:0px 0px 9px rgba($text_color,0.3);
  position: relative;
  background: $subtle_grey;

  #footer_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #center_wrapper {
    padding: 0;
    position: relative;
    z-index:1;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "menu1 menu2 branding";
    width: $main_page_width;
    margin: auto;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    ul{
      padding:0;
      list-style-type: none;

      li{
        font-size:1.6rem;
      }
    }

    ul{
      margin:0;
    }

    #left_footer{
      grid-area: menu1;
      border-right:2px solid rgba($subtle_grey,0.2);
    }

    #mid_footer{
      grid-area: menu2;
    }

    #branding{
      grid-area: branding;
      text-align: right;

      a:hover{
        text-decoration: none!important;
      }

      p{
        margin:0;
      }

      h1{
        margin:0;
      }
    }

    #logo{
      grid-area: logo;
    }
  }


}