#header{
  grid-area:header;
  padding:1rem;
  background-repeat: repeat;
  margin-bottom:1rem;
  position:relative;
  box-shadow:0px 0px 9px rgba($text_color,0.3);
  background: $subtle_grey;

  #header_bg {


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #center_wrapper{
    padding:0;
    position: relative;
    z-index:1;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "branding login_form";
    align-items: center;
    width:$main_page_width;
    margin:auto;
    padding-left:1rem;
    padding-right:1rem;
  }

  #branding{
    grid-area:branding;
    text-align: left;

    a:hover{
      text-decoration: none!important;
    }

    h1{
      margin:0;
    }

    p{
      margin: 0;
    }
  }

  #login_form,#header_profile{
    grid-area:login_form;

    #register{
    }
  }

  #header_profile{
    text-align: right;
    padding-left:4rem;

    p{
      margin:0;
    }
  }
}