#header{
  grid-area:header;
  padding:1rem;
  background: url(/images/hypnotize.png);
  background-repeat: repeat;
  margin-bottom:1rem;
  position:relative;
  box-shadow:0px 0px 9px rgba($text_color,0.3);

  p, label{
    color:$subtle_grey;
  }

  #header_bg {
    background: linear-gradient(216deg, #1a1a1a, #232323, #343434);
    background-size: 600% 600%;

    -webkit-animation: GreySwivel 20s ease infinite;
    -moz-animation: GreySwivel 20s ease infinite;
    animation: GreySwivel 20s ease infinite;

    @-webkit-keyframes GreySwivel {
      0%{background-position:100% 0%}
      50%{background-position:0% 100%}
      100%{background-position:100% 0%}
    }
    @-moz-keyframes GreySwivel {
      0%{background-position:100% 0%}
      50%{background-position:0% 100%}
      100%{background-position:100% 0%}
    }
    @keyframes GreySwivel {
      0%{background-position:100% 0%}
      50%{background-position:0% 100%}
      100%{background-position:100% 0%}
    }

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #center_wrapper{
    padding:0;
    position: relative;
    z-index:1;
    display:grid;
    grid-template-columns: 1fr 2fr 380px;
    grid-template-rows: 1fr;
    grid-template-areas:
            "branding menu login_form";
    align-items: center;
    width:$main_page_width;
    margin:auto;
    padding-left:1rem;
    padding-right:1rem;
  }

  #menu{
    grid-area:menu;
    background-image: url(/images/header_advert_bg.png);
    background-position: center;
    background-size:cover;
    border-radius: 4px;
    overflow: hidden;

    #store_link{
      height:100px;
      position: relative;
      border-radius:4px;

      #store_dark_bg{
        position: absolute;
        background:rgba(0,0,0,0.3);
        display:table;
        height:100%;
        width:100%;
        color:white;

        #store_link_text{
          display:table-cell;
          vertical-align: middle;
          text-align: center;
          padding-left:4rem;
          padding-right:4rem;

          h4{
            font-weight: 900;
          }

          h4,p{
            margin:0;
          }
        }

      }
    }

  }

  #branding{
    grid-area:branding;
    text-align: left;

    a:hover{
      text-decoration: none!important;
    }

    h1{
      margin:0;
    }

    p{
      margin: 0;
    }
  }

  #login_form,#header_profile{
    grid-area:login_form;

    .form-group{
      margin:0;
      margin-bottom:3px;

      .form-control{
        height:24px;
      }

      button{
        width:100%;
      }

      @media (min-width: 768px){
        .control-label {
          text-align: right;
          margin-bottom: 0;
          padding-top: 2px;
        }
      }

      .btn{
        padding:1px 12px;
      }

    }
  }

  #header_profile{
    text-align: right;
    padding-left:4rem;

    p{
      margin:0;
    }
  }
}