

html{

}

body{
  background:none;
}

a{
  color: $persian_green;

  &:focus,&:hover{
    color: $caribbean_green;
  }
}

.btn{
  background:$persian_green;

  &:hover,&:focus,&:active{
    background:$caribbean_green;
  }
}