

html{

}

body{
  background:none;
  font-family: 'Droid Serif', serif;
  font-weight:300;
  color:$text_color;
}

a{
  color: $persian_green;

  &:focus,&:hover{
    color: $caribbean_green;
  }
}

.btn{

}

.form-group{
  margin-bottom:1rem;
  display: inline-block;
  width: 100%;

  .control-label{
    margin-top:6px;
  }
}