// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Structure
@import "structure";




// Includes
@import "includes/header";
@import "includes/main";
@import "includes/footer";

// Pages
@import "pages/homepage";
@import "pages/account/index";
@import "pages/account/add_address";

#app{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "header"
  "content"
  "footer";
}

.subtitle{
  font-weight:500;
  margin-top:0;
  color:$persian_green;
}